body,div,h1,h2,h3,h4,h5,a,img,b,strong,span,var,em,ol,ul,dt,dd,dl,li,p,table,tr,th,td,button,input {margin:0px;padding:0px;}
a {text-decoration:none;cursor:pointer;font-style:normal;outline:none;}
ol,ul {list-style-type:none;}
ul,li{list-style:none;}
a img {border:none;}
em,var{font-style:normal;}
input{ vertical-align:middle;}
.clear {clear:both;height:0px;overflow:hidden;}
body{font-family:Arial,"宋体","微软雅黑";}
/*-----------侧栏展示-标签云----------*/
.sidebar-show{height:450px;padding:10px;}
#tag-cloud{float:left;padding:12px 10px 10px 10px;margin-right:10px;}
#tag-cloud h3{display:block;height:30px;line-height:30px;border-bottom:2px #a0a0a0 solid;font-size:14px;color:#444444;}
#tag-cloud .pic{padding-top:10px;overflow:hidden;}
#tag-cloud .tc-con{width:240px;overflow:hidden;}
#tag-cloud p{height:30px;line-height:30px;font-size:12px;color:#444;}
#tag-cloud em{font-size:12px;color:#ff9900;font-weight:bold;}
#tag-cloud .article{width:240px;padding-bottom:8px;*padding-bottom:12px;overflow:hidden;}
#tag-cloud .article li{float:left;width:230px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 11px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#tag-cloud .article li a{float:left;font-size:12px;color:#3399ff;}
#tag-cloud .article li a:hover{text-decoration:underline;}
#tag-cloud .msg{float:right;height:;font-size:12px;color:#999;}
/*-----------侧栏展示-热文榜----------*/
#hot-news{float:left;padding:12px 10px 10px 10px;margin-right:10px;}
#hot-news h3{height:30px;line-height:30px;border-bottom:2px #a0a0a0 solid;font-size:14px;color:#444444;}
#hot-news .change{display:block;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;position:absolute;top:12px;right:10px;}
#hot-news .hn-con{float:left;width:240px;overflow:hidden;}
#hot-news .article{width:240px;padding-top:10px;overflow:hidden;}
#hot-news .article li{float:left;width:230px;height:50px;padding:0 10px 10px 0;overflow:hidden;}
#hot-news .article li.border-bottom{border-bottom:none;}
#hot-news .a-pic{float:left;width:50px;height:50px;margin-right:10px;}
#hot-news .a-pic a{float:left;height:50px;}
#hot-news .a-link{float:left;width:170px;height:50px;line-height:16px;font-size:12px;color:#3399ff;overflow:hidden;}
#hot-news .a-link:hover{text-decoration:underline;}
#hot-news .msg{float:right;height:;font-size:12px;color:#999;}
/*-----------侧栏展示-热文榜2----------*/
#hot-news2{float:left;padding:12px 10px 10px 10px;margin-right:10px;}
#hot-news2 h3{height:30px;line-height:30px;border-bottom:2px #a0a0a0 solid;font-size:14px;color:#444444;}
#hot-news2 .change{display:block;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;position:absolute;top:12px;right:10px;}
#hot-news2 .hn-con{width:240px;padding-top:8px;overflow:hidden;}
#hot-news2 .article2{width:230px;overflow:hidden;}
#hot-news2 .article2 li{float:left;width:220px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 16px no-repeat;*background:url(../images/dian2.png) 0 15px no-repeat;overflow:hidden;}
#hot-news2 .article2 li.border-bottom{border-bottom:none;}
#hot-news2 .article2 li a{float:left;font-size:12px;color:#3399ff;}
#hot-news2 .article2 li a:hover{text-decoration:underline;}
#hot-news2 .msg{float:right;height:;font-size:12px;color:#999;}
/*-----------关键词----------*/
.key-words{float:left;width:880px;padding:10px;}
.key-words p{line-height:22px;font-size:14px;color:#333;padding-left:10px;}
.key-words p a{color:#0066ff;border-bottom:1px dashed #0066ff;}
#kw-box1{float:left;border:1px #cccccc solid;padding:8px 10px 8px 10px;margin:10px 0 0 113px;position:relative;}
#kw-box1 .kw-top{width:15px;height:9px;background:url(../images/kw-top.png) 0 0 no-repeat;position:absolute;top:-9px;left:40px;}
#kw-box1 .kw-head{height:30px;}
#kw-box1 .kw-head span{float:left;height:28px;line-height:28px;font-size:12px;color:#444;}
#kw-box1 .kw-head em{font-size:12px;color:#ff9900;}
#kw-box1 .kw-head .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;}
#kw-box1 .kw-con{float:left;overflow:hidden;}
#kw-box1 .article{overflow:hidden;}
#kw-box1 .article li{float:left;height:160px;margin-right:10px;overflow:hidden;}
#kw-box1 .article .mr0{margin-right:0;}
#kw-box1 .a-pic{display:block;width:100px;height:100px;margin-bottom:5px;}
#kw-box1 .a-link{display:block;width:100px;line-height:18px;font-size:12px;color:#3399ff;overflow:hidden;}
#kw-box1 .a-link:hover{text-decoration:underline;}
#kw-box1 .msg{float:right;height:;font-size:12px;color:#999;}
#kw-box2{float:left;border:1px #cccccc solid;padding:8px 10px 8px 10px;margin:10px 0 0 22px;position:relative;}
#kw-box2 .kw-top{width:15px;height:9px;background:url(../images/kw-top.png) 0 0 no-repeat;position:absolute;top:-9px;left:40px;}
#kw-box2 .kw-head{height:30px;}
#kw-box2 .kw-head span{float:left;height:22px;line-height:22px;font-size:12px;color:#444;}
#kw-box2 .kw-head em{font-size:12px;color:#ff9900;}
#kw-box2 .kw-head .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;}
#kw-box2 .kw-con{float:left;width:301px;overflow:hidden;}
#kw-box2 .article{float:left;width:301px;overflow:hidden;}
#kw-box2 .article li{float:left;width:285px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 12px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#kw-box2 .article li a{float:left;font-size:12px;color:#3399ff;}
#kw-box2 .article li a:hover{text-decoration:underline;}
#kw-box2 .msg{float:right;height:;font-size:12px;color:#999;}
/*---------------------浮窗 float-box-----------------------*/
.float-box{width:500px;padding-bottom:20px;overflow:hidden;}
#guess{float:right;overflow:hidden;margin-bottom:5px;}
#guess .show{display:block;width:24px;height:83px;background:url(../images/guess-1.jpg) 0 0 no-repeat;text-indent:-999em;}
#g-area{float:right;overflow:hidden;margin-bottom:4px;clear:both;}
#g-area .main{float:right;width:360px;border:1px #ccc solid;overflow:hidden;}
#g-area .article{width:350px;height:120px;padding:10px 0 0 10px;overflow:hidden;}
#g-area .article li{float:left;width:60px;height:120px;margin-right:10px;overflow:hidden;}
#g-area .article li .a-bg{float:left;width:60px;height:120px;overflow:hidden;}
#g-area .article span{float:left;width:60px;height:60px;overflow:hidden;} 
#g-area .article em{float:left;width:60px;height:56px;line-height:18px;font-size:12px;color:#3399ff;overflow:hidden;}
#g-area .article em:hover{text-decoration:underline;}
#g-area .article li .a-bg:hover{text-decoration:underline;color:#3399ff;}
#guess .hide{display:block;width:24px;height:97px;background:url(../images/guess-2.jpg) 0 0 no-repeat;text-indent:-999em;}
#g-area .msg{float:right;height:;font-size:12px;color:#999;margin: 0 10px 5px 0;}
#g-area2{float:right;overflow:hidden;margin-bottom:4px;clear:both;}
#g-area2 .main{float:right;border:1px #ccc solid;overflow:hidden;}
#g-area2 .article2{width:270px;padding:5px 0 10px 12px;overflow:hidden;}
#g-area2 .article2 li{float:left;width:260px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 16px no-repeat;*background:url(../images/dian2.png) 0 15px no-repeat;overflow:hidden;}
#g-area2 .article2 li.border-bottom{border-bottom:none;}
#g-area2 .article2 li a{float:left;font-size:12px;color:#3399ff;}
#g-area2 .article2 li a:hover{text-decoration:underline;}
#g-area2 .msg{float:right;height:;font-size:12px;color:#999;margin-right:10px;}
#guess2 .hide{display:block;width:24px;height:97px;background:url(../images/guess-2.jpg) 0 0 no-repeat;text-indent:-999em;}
#g-area2 .pb10{width:280px;padding-bottom:10px;}
/*---------------------浮窗 float-box2-----------------------*/
.float-box2{padding-bottom:30px;overflow:hidden;}
.mb20{margin-bottom:20px;}
#fotbox{overflow:hidden;}
#fotbox .fb-con{height:177px;padding:20px 0 0 30px;background:url(../images/foodbg.png) 0 0 repeat-x;overflow:hidden;}
#fotbox .article{float:left;width:97%;height:157px;overflow:hidden;}
#fotbox .article li{float:left;width:100px;margin-right:15px;overflow:hidden;}
#fotbox .article li.mr0{margin-right:0;}
#fotbox .article li .img_wrap{float:left;width:100px;height:157px;overflow:hidden;}
#fotbox .article img{float:left;margin-bottom:3px;}
#fotbox .article em{float:left;height:46px;font-size:12px;color:#ccc;overflow:hidden;}
#fotbox .article em:hover{text-decoration:underline;}
#fotbox .article a:hover{text-decoration:underline;color:#ccc;}
#fotbox .close{float:left;width:18px;height:18px;background:url(../images/close2.png) 0 0 no-repeat;cursor:pointer;}
#fotbox2{overflow:hidden;}
#fotbox2 .fb-con{height:120px;padding:20px 0 0 30px;background:url(../images/foodbg.png) 0 0 repeat-x;overflow:hidden;}
#fotbox2 .pl20{padding:20px 0 20px 20px;overflow:hidden;}
#fotbox2 .pl20 .w100{float:left;width:97%;height:120px;overflow:hidden;}
#fotbox2 .article2{float:left;width:318px;overflow:hidden;}
#fotbox2 .article2 li{float:left;width:288px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian3.jpg) 0 11px no-repeat;*background:url(../images/dian3.jpg) 0 10px no-repeat;overflow:hidden;}
#fotbox2 .article2 li a{float:left;font-size:12px;color:#d9d9d9;}
#fotbox2 .article2 li a:hover{text-decoration:underline;}
#fotbox2 .article2 li.w270{width:270px;overflow:hidden;}
#fotbox2 .close{float:left;width:18px;height:18px;background:url(../images/close2.png) 0 0 no-repeat;cursor:pointer;}
/*---------------------嵌入式  related-1  -----------------------*/
.widget{width:675px;overflow:hidden;margin:0 0 30px 10px;}
#related-1{overflow:hidden;}
#related-1 .r1-top{height:32px;padding-top:20px;}
#related-1 .r1-top h3{float:left;height:32px;line-height:32px;font-size:14px;color:#444444;} 
#related-1 .r1-top .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;} 
#related-1 .r1-con{overflow:hidden;}
#related-1 .article{overflow:hidden;}
#related-1 .article li{float:left;width:100px;height:162px;margin:0 15px 15px 0;}
#related-1 .article li.mr0{margin-right:0;}
#related-1 .a-pic{float:left;width:100px;height:100px;margin-bottom:6px;}
#related-1 .a-link{float:left;width:100px;line-height:18px;font-size:12px;color:#444;overflow:hidden;}
#related-1 .a-link:hover{text-decoration:underline;}
#related-1 .msg{float:right;height:;font-size:12px;color:#999;}
/*---------------------嵌入式  related-2  -----------------------*/
#related-2{overflow:hidden;}
#related-2 .r2-top{height:32px;padding-top:20px;}
#related-2 .r2-top h3{float:left;height:32px;line-height:32px;font-size:14px;color:#444444;} 
#related-2 .r2-top .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;}
#related-2 .r2-con{overflow:hidden;}
#related-2 .article{float:left;width:278px;overflow:hidden;}
#related-2 .article li{float:left;width:268px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 11px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#related-2 .article li a{float:left;height:24px;font-size:12px;color:#444;}
#related-2 .article li a:hover{text-decoration:underline;}
#related-2 .article2{float:right;width:278px;overflow:hidden;}
#related-2 .article2 li{float:left;width:268px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 11px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#related-2 .article2 li a{float:left;height:24px;font-size:12px;color:#444;}
#related-2 .article2 li a:hover{text-decoration:underline;}
#related-2 .msg{float:right;height:;font-size:12px;color:#999;}
/*---------------------提示信息-----------------------*/
.tip-box{width:560px;margin:0 auto;overflow:hidden;padding:0 18px 0 40px;}
.tb-left{float:left;width:210px;overflow:hidden;}
.tb-left h3{height:50px;line-height:50px;font-size:12px;color:#333;}
/*--------- 蓝按钮 ---------*/
.blue-btn{height:29px;margin-bottom:20px;overflow:hidden;}
.blue-btn1{float:left;width:47px;height:29px;line-height:29px;background:url(../images/blue-btn1.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.blue-btn1 span{float:left;width:44px;height:29px;background:url(../images/blue-btn1.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
.blue-btn2{float:left;width:47px;height:29px;line-height:29px;background:url(../images/blue-btn2.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.blue-btn2 span{float:left;width:44px;height:29px;background:url(../images/blue-btn2.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
.blue-btn3{float:left;width:47px;height:29px;line-height:29px;background:url(../images/blue-btn3.png) 0 0 no-repeat;padding-left:3px;}
.blue-btn3 span{float:left;width:44px;height:29px;background:url(../images/blue-btn3.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
/*--------- 灰按钮 ---------*/
.grey-btn{height:29px;margin-bottom:20px;overflow:hidden;}
.grey-btn1{float:left;width:47px;height:29px;line-height:29px;background:url(../images/grey-btn1.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.grey-btn1 span{float:left;width:44px;height:29px;background:url(../images/grey-btn1.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#666;text-align:center;}
.grey-btn2{float:left;width:47px;height:29px;line-height:29px;background:url(../images/grey-btn2.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.grey-btn2 span{float:left;width:44px;height:29px;background:url(../images/grey-btn2.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#666;text-align:center;}
.grey-btn3{float:left;width:47px;height:29px;line-height:29px;background:url(../images/grey-btn3.png) 0 0 no-repeat;padding-left:3px;}
.grey-btn3 span{float:left;width:44px;height:29px;background:url(../images/grey-btn3.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#666;text-align:center;}
/*--------- 绿按钮 ---------*/
.green-btn{height:28px;overflow:hidden;}
.green-btn1{float:left;width:59px;height:28px;line-height:28px;background:url(../images/green-btn1.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.green-btn1 span{float:left;width:56px;height:29px;background:url(../images/green-btn1.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
.green-btn2{float:left;width:59px;height:28px;line-height:28px;background:url(../images/green-btn2.png) 0 0 no-repeat;padding-left:3px;margin-right:10px;}
.green-btn2 span{float:left;width:56px;height:29px;background:url(../images/green-btn2.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
.green-btn3{float:left;width:59px;height:28px;line-height:28px;background:url(../images/green-btn3.png) 0 0 no-repeat;padding-left:3px;}
.green-btn3 span{float:left;width:56px;height:29px;background:url(../images/green-btn3.png) right 0 no-repeat;padding-right:3px;font-size:12px;color:#fff;text-align:center;}
/*--------- 提示信息 ---------*/
.tb-right{float:right;overflow:hidden;}
.tb-right .tip1{float:left;width:144px;overflow:hidden;margin-right:10px;}
.tb-right h3{height:50px;line-height:50px;font-size:12px;color:#333;}
.tip1 .tip-wrong{float:left;width:109px;height:30px;line-height:30px;background:url(../images/wrong-bg.png) 0 0 no-repeat;padding-left:34px;font-size:12px;color:#bb0000;margin-bottom:20px;}
.tip1 .tip-right{float:left;width:109px;height:30px;line-height:30px;background:url(../images/right-bg.png) 0 0 no-repeat;padding-left:34px;font-size:12px;color:#7bbb00;margin-bottom:20px;}
.tip1 .tip-warn{float:left;width:109px;height:30px;line-height:30px;background:url(../images/warn-bg.png) 0 0 no-repeat;padding-left:34px;font-size:12px;color:#0096bb;margin-bottom:20px;}
.tip1 .tip-normal{float:left;width:143px;height:30px;line-height:30px;background:url(../images/normal-bg.png) 0 0 no-repeat;font-size:12px;color:#999999;text-align:center;}
.tb-right .tip2{float:left;width:148px;overflow:hidden;padding-top:50px;}
.tip-wrong2{float:left;width:108px;height:28px;line-height:28px;background:url(../images/wrong-bg2.png) 0 0 no-repeat;padding-left:40px;font-size:12px;color:#bb0000;margin-bottom:22px;}
.tip-right2{float:left;width:108px;height:28px;line-height:28px;background:url(../images/right-bg2.png) 0 0 no-repeat;padding-left:40px;font-size:12px;color:#7bbb00;margin-bottom:22px;}
.tip-warn2{float:left;width:108px;height:28px;line-height:28px;background:url(../images/warn-bg2.png) 0 0 no-repeat;padding-left:40px;font-size:12px;color:#0096bb;margin-bottom:22px;}
.tip-normal2{float:left;width:148px;height:28px;line-height:28px;background:url(../images/normal-bg2.png) 0 0 no-repeat;font-size:12px;color:#999999;text-align:center;}
/*--------- 浮动层 ---------*/
.float-area{width:470px;margin:0 auto;overflow:hidden;padding:0 90px 0 40px;overflow:hidden;}
.float-area h3{height:50px;line-height:50px;font-size:12px;color:#333;}
.float-layer{width:298px;height:;border:1px #e1e1e1 solid;border-radius:3px; box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0,0,0,0.1);overflow:hidden;margin:0 0 30px 75px;}
.fl-title{width:278px;height:37px;background:#f4f4f4;border-bottom:1px #e1e1e1 solid;padding:0 10px 0 10px;overflow:hidden;}
.fl-title h4{float:left;height:37px;line-height:37px;font-size:12px;color:#333;}
.fl-title a{float:right;width:16px;height:37px;background:url(../images/x-bg3.png) 0 10px no-repeat;}
.fl-content{width:298px;height:114px;text-align:center;padding:50px 0 0 0;}
.fl-content p{font-size:14px;color:#444444;margin-bottom:50px;}
.fl-content .btn{width:298px;height:29px;overflow:hidden;}
.fl-content .blue-btn1{margin-left:79px;width:63px;}
.fl-content .blue-btn1 span{width:60px;font-weight:bold;}
.fl-content .grey-btn1{width:63px;}
.fl-content .grey-btn1 span{width:60px;}
.fl-content2{width:298px;height:129px;text-align:center;padding:35px 0 0 0;}
.fl-content2 p{line-height:23px;font-size:14px;color:#444444;}
.fl-content2 strong{display:block;font-size:14px;color:#bb0000;font-weight:lighter;margin-bottom:35px;}
.fl-content2 .btn{width:298px;height:29px;overflow:hidden;}
.fl-content2 .red-btn1{margin:0 10px 0 79px;float:left;width:63px;height:29px;line-height:29px;padding-left:3px;background:url(../images/red-btn1.png) 0 0 no-repeat;}
.fl-content2 .red-btn1 span{float:left;width:60px;height:29px;font-weight:bold;font-size:12px;color:#fff;padding-right:3px;background:url(../images/red-btn1.png) right 0 no-repeat;}
.fl-content2 .grey-btn1{width:63px;}
.fl-content2 .grey-btn1 span{width:60px;}
.fl-content2 .win{line-height:22px;font-size:14px;color:#7bbb00;margin-bottom:18px;overflow:hidden;}
.fl-content2 .win .win-pic{position:relative;top:5px;left:-13px;}
.fl-content2 .tip{line-height:24px;font-size:12px;color:#999;}
.fl-content2 .tip .admin{color:#0099ff;text-decoration:underline;}
.fl-content2 .doubt{_float:left;_width:200px;text-align:left;line-height:22px;font-size:14px;color:#666;margin-bottom:18px;overflow:hidden;}
.fl-content2 .doubt-pic{float:left;margin:0 10px;}
.plr39{width:234px;padding:35px 25px 0 39px;}
.plr39 .btn-2{width:170px;overflow:hidden;padding:20px 0 0 73px;_padding:0 0 20px 73px;}
.fl-content2 .jc{_padding-top:20px;line-height:62px;font-size:14px;font-weight:bold;color:#666;overflow:hidden;}
.fl-content2 .jc .jc-pic{position:relative;top:3px;left:-10px;}
/*---------------------------------------- wordpress插件后台 ------------------------------*/
.section{width:915px;margin:0 auto;}
.choose-area{height:35px;margin-top:20px;}
.choose{float:left;height:35px;}
.choose li{float:left;width:118px;height:32px;margin:3px 2px 0 0;text-align:center;background:url(../images/choose-li-bg.png) 0 0 no-repeat;}
.choose li a{float:left;width:118px;height:32px;line-height:32px;font-size:12px;font-weight:bold;color:#666;}
.choose li.current{height:35px;background:url(../images/choose-licurrent-bg.png) 0 0 no-repeat;margin-top:0;}
.choose li.current a{height:35px;line-height:35px;color:#fff;}
.section .set-box{width:878px;border:1px #e1e1e1 solid;overflow:hidden;padding:24px 0 30px 30px;}
.set-box .sbox-left{float:left;width:320px;}
.sbox-left .top{height:42px;line-height:42px;}
.sbox-left .top input{float:left;margin:14px 10px 0 0;*margin:10px 10px 0 0;}
.sbox-left .top span{float:left;font-size:12px;font-weight:bold;color:#444;}
.sbox-left .display{padding-left:48px;}
.sbox-left .item3{height:28px;line-height:28px;margin-bottom:22px;}
.sbox-left .item3 label{float:left;width:68px;font-size:12px;color:#444;}
.sbox-left .item3 .select_box3 {float:left;width:68px;_width:60px; position:relative;padding:0; font-size:12px;background:url(../images/input-bg3.png) left 0 no-repeat;margin-right:6px;_margin-right:0;}
.sbox-left .item3 .select_box3 input {cursor:pointer;float:left; line-height:28px; width:80%; height:28px; overflow:hidden; padding-right:0; padding-left:14px;_padding-left:20px;border:0;background:url(../images/select-bg2.png) right 0 no-repeat;_background:url(../images/select-bg2.png) right 0 no-repeat;}
.sbox-left .item3 .select_box3 ul {width:40px; position:absolute; left:0; top:27px;  border:1px solid #ccc; background:#fff; overflow: hidden;display:none;  z-index:99999;}
.sbox-left .item3 .select_box3 ul li {display:block;height:22px;overflow:hidden;line-height:22px;text-align:center;width:100%;cursor:pointer;}
.sbox-left .item3 .select_box3 ul li:hover{background:#ebebeb;}
.sbox-left .item3 span{float:left;font-size:12px;color:#444;font-family:arial;}
.sbox-left .item3 em{float:left;font-size:12px;color:#999;font-family:arial;}
.sbox-left .btn{display:block;width:56px;height:29px;line-height:29px;background:url(../images/save-btn-bg2.png) 0 0 no-repeat;font-size:12px;font-weight:bold;color:#fff;text-align:center;margin-left:115px;}
.sbox-left .item2{height:26px;line-height:26px;margin-bottom:22px;}
.sbox-left .item2 label{float:left;width:68px;font-size:12px;color:#444;}
.sbox-left .item2 .textbox{float:left;margin:0 5px 0 0;*display:inline;}
.sbox-left .item2 .textbox-l{float:left;height:26px;background:url(../images/item-textbox-bg2.png) 0 0 no-repeat;padding:0 0 0 2px;overflow:hidden;}
.sbox-left .item2 .textbox-r{float:left;height:26px;background:url(../images/item-textbox-bg2.png) right 0 no-repeat;padding:0 2px 0 0;overflow:hidden;}
.sbox-left .item2 .textbox-r input.txt-width60{float:left;width:56px;height:18px;text-align:center;margin-top:2px;padding:2px 2px 2px 2px;border:none;*padding-top:4px;*height:16px;*border:0;padding-top:5px\0;height:16px\0;overflow:hidden;}
.sbox-left .item2 span{float:left;font-size:12px;color:#444;font-family:arial;margin:0 2px 0 0;}
.sbox-left .item2 em{float:left;font-size:12px;color:#999;font-family:arial;}
.sbox-left .btn2{display:block;width:66px;height:29px;line-height:29px;background:url(../images/save-btn-bg.png) 0 0 no-repeat;font-size:12px;font-weight:bold;color:#fff;text-align:center;margin-left:115px;}
.sbox-left .item1{height:40px;line-height:40px;margin-bottom:10px;overflow:hidden;}
.sbox-left .item1 label{float:left;width:68px;font-size:12px;color:#444;}
.sbox-left .item1 input{float:left;margin:13px 10px 0 0;*margin:9px 10px 0 0;}
.sbox-left .item1 span{float:left;font-size:12px;color:#333;margin-right:22px;}
/*---------------------登录-----------------------*/
.page{margin:0 auto;}
.page .footer{width:280px;margin:0 auto;height:30px;line-height:30px;font-size:12px;color:#a9a9a9;text-align:center;}
.page .footer p{width:280px;height:30px;line-height:30px;overflow:hidden;position:absolute;bottom:0px;*left:526px;}
#login-area{width:364px;margin:0 auto;}
#login-area .la-logo{height:23px;background:url(../images/logo-3.jpg) 0 0 no-repeat;margin:120px 0 18px 0;}
#login-area .la-box{width:364px;height:271px;background:url(../images/la-box.jpg) 0 0 no-repeat;}
#login-area h2{height:60px;line-height:60px;font-size:18px;color:#999;font-weight:lighter;font-family:"微软雅黑","黑体";padding-left:22px;}
#login-area .main{padding:30px 30px 0 40px;width:294px;}
#login-area .item{height:28px;overflow:hidden;margin-bottom:20px;}
#login-area .item label{float:left;width:60px;height:28px;line-height:28px;font-size:12px;color:#444;}
#login-area .input-box{float:left;width:230px;height:28px;background:url(../images/input-box-bg.png) 0 0 no-repeat;}
#login-area .input-box input{float:left;width:222px;height:20px;background:none;border:0;padding:4px;}
#login-area .mb10{margin-bottom:10px;}
#login-area .tip{font-size:12px;color:#666;margin-left:58px;}
#login-area .tip:hover{}
#login-area .actions{height:29px;line-height:29px;overflow:hidden;margin-top:20px;padding-left:58px;}
#login-area .actions .btn{float:left;width:66px;height:29px;line-height:29px;background:url(../images/save-btn-bg.png) 0 0 no-repeat;margin-right:10px;}
#login-area .button{cursor:pointer;float:left;width:66px;height:29px;background:none;border:0;font-size:14px;font-weight:bold;color:#fff;font-family:"宋体";}
#login-area .text{font-size:12px;color:#444;}
#login-area .text a{font-weight:bold;color:#444;}
#login-area .text a:hover{text-decoration:underline;}
/*---------------------注册-----------------------*/
#login-area .la-box2{width:364px;height:320px;background:url(../images/la-box2.jpg) 0 0 no-repeat;}
#login-area .agree{height:14px;padding:2px 0 0 58px;overflow:hidden;}
#login-area .agree input{float:left;margin:0 10px 0 0;*margin:-4px 10px 0 0;width:13px;}
#login-area .agree .text{float:left;}
#login-area .agree .text-l{float:left;font-size:12px;color:#444;cursor:pointer;}
#login-area .actions .btn2{float:left;width:66px;height:29px;line-height:29px;background:url(../images/send-btn.png) 0 0 no-repeat;margin-right:10px;}
#login-area .tip-wrong2{float:left;position:relative;top:-199px;right:-290px;}
/*---------------------找回密码-----------------------*/
#login-area .la-box3{width:364px;height:200px;background:url(../images/la-box3.jpg) 0 0 no-repeat;}
/*---------------------重设密码-----------------------*/
#login-area .la-box4{width:364px;height:221px;background:url(../images/la-box4.jpg) 0 0 no-repeat;}
#login-area .la-box4 .main{padding-top:40px;overflow:hidden;}
#login-area .la-box4 p{font-size:12px;color:#444;}
#login-area .la-box4 em{color:#ff3300;}
.la-box4 .blue-btn1{width:104px;margin-top:18px;}
.la-box4 .blue-btn1 span{width:104px;font-size:14px;font-weight:bold;}
#login-area .la-box5{width:364px;height:244px;background:url(../images/la-box5.jpg) 0 0 no-repeat;}
.la-box5 .blue-btn1{width:104px;margin:0 0 0 58px;}
.la-box5 .blue-btn1 span{width:104px;font-size:14px;font-weight:bold;}
#login-area .la-box5 .pt50{overflow:hidden;padding-top:50px;}
.la-box5 .win{margin:0 0 25px 76px;height:24px;line-height:24px;background:url(../images/win.png) 0 0 no-repeat;padding-left:34px;font-size:14px;font-weight:bold;color:#444;}
.la-box5 p{text-align:center;font-size:12px;color:#444;}
.la-box5 p a{color:#2a77bf;}
#login-area .la-box5 .item .tr{width:60px;text-align:right;}
/*--------------浮窗-添加图片----------------*/
.overlay{padding:100px;}
.page-area2{width:595px;background-color:#fff;border-radius:6px;padding:1px;border:3px #e5e5e5 solid; box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0,0,0,0.15);margin-bottom:30px;}
.p-title{width:575px;height:38px;background:url(../images/p-title-bg2.png) 0 0 repeat-x;padding:0 10px 0 10px;overflow:hidden;}
.p-title h2{float:left;height:38px;line-height:38px;font-size:12px;color:#333;}
.p-title a{float:right;width:16px;height:38px;background:url(../images/x-bg3.png) 0 10px no-repeat;}
.p-content{width:575px;padding:9px 10px 10px 10px;overflow:hidden;}
.pa2-side{float:left;width:89px;margin-right:10px;}
.pa2-side h3{height:28px;line-height:28px;margin-top:12px;font-size:12px;color:#999;}
.pa2-side .pic{width:85px;height:85px;padding:1px;border:1px #e1e1e1 solid;}
.pa2-main{float:left;overflow:hidden;}
.pa2-main .choose2{height:33px;line-height:32px;position:relative;top:1px;}
.pa2-main .choose2 li{float:left;height:32px;padding-left:14px;background:url(../images/choose2-li-bg1.png) 0 0 no-repeat;border-bottom:1px #e4e4e4 solid;margin-right:2px;}
.pa2-main .choose2 li a{float:left;height:32px;padding-right:10px;font-size:12px;color:#666;background:url(../images/choose2-li-bg1.png) right 0 no-repeat;}
.pa2-main .choose2 .p{float:left;padding-left:6px;background:url(../images/choose2-li-bg1.png) 0 0 no-repeat;}
.pa2-main .choose2 .p a{float:left;padding-right:7px;background:url(../images/choose2-li-bg1.png) right 0 no-repeat;}
.pa2-main .choose2 li.current{height:33px;background:url(../images/choose2-li-bg4.png) 0 0 no-repeat;border-bottom:none;}
.pa2-main .choose2 li.current a{background:url(../images/choose2-li-bg4.png) right 0 no-repeat;font-weight:bold;color:#444;}
.pa2-main .pic-box{width:458px;border:1px #e4e4e4 solid;padding:19px 6px 0 10px;margin-bottom:10px;overflow-y:scroll; }
.pa2-main .pic-box .img{float:left;width:78px;height:78px;background:#f8f8f8;border:1px #f0f0f0 solid;margin:0 10px 10px 0;}
.pa2-main .pic-box .mr0{margin-right:0;}
.pa2-main .btn{height:29px;float:left;}
.pa2-main .btn1{float:left;width:66px;height:29px;line-height:28px;text-align:center;margin-right:10px;background:url(../images/save-btn-bg.png) 0 0 no-repeat;}
.pa2-main .btn1 span{font-size:12px;color:#fff;font-weight:bold;}
.pa2-main .btn2{float:left;height:29px;line-height:28px;padding-left:19px;background:url(../images/grey-btn2.png) 0 0 no-repeat;}
.pa2-main .btn2 span{float:left;font-size:12px;color:#666;padding-right:18px;background:url(../images/grey-btn2.png) right 0 no-repeat;}
.pa2-main .note{float:right;font-size:12px;color:#999;}
.pa2-main .h190{padding:0;height:190px;overflow:hidden;}
.pa2-main .h190 .upload-btn{float:left;width:136px;height:29px;line-height:29px;margin:74px 0 0 158px;background:url(../images/upload-btn.png) 0 0 no-repeat;}
.pa2-main .h190 .upload-btn span{float:left;width:136px;font-size:12px;color:#666;text-align:center;}
.pa2-main .h190 .find{float:left;font-size:12px;color:#666;margin:78px 0 0 188px;display:inline;}
/*--------------statistics----------------*/
.statistics{width:100%;}
.statistics li{float:left;width:13%;border:1px #ededed solid;background:#fafafa;border-radius:5px;padding:18px 0;margin:0 10px 10px 0;}
.statistics a{overflow:hidden;}
.statistics .line{text-align:center;overflow:hidden;}
.statistics .line .text{padding-left:10px;font-size:12px;color:#999;overflow:hidden;}
.statistics .line .text em{display:inline-block;width:13px;margin-left:5px;background:url(../images/ask-img.png) 0 1px no-repeat;}
.statistics .n{text-align:center;display:block;font-size:24px;color:#00A5DB;font-family:"微软雅黑";}
.statistics .li-top{display:none;}
.statistics li.this{border:1px #49bce1 solid;background:#7fd2ed;position:relative;}
.statistics li.this .text{color:#fff;}
.statistics li.this .text em{background:url(../images/ask-img2.png) 0 1px no-repeat;}
.statistics li.this .n{color:#fff;}
.statistics li.this .li-top{display:block;width:13px;height:9px;background:url(../images/li-top.png) 0 0 no-repeat;position:absolute;top:-9px;left:81px;}
.pt{padding-top:50px;}
.mb50{margin-bottom:50px;}
.pt20{padding-top:20px;}
/*--------------已屏蔽----------------*/
.h69{height:69px;}
.fl-content2 .shield{line-height:22px;font-size:14px;color:#333;margin-bottom:18px;overflow:hidden;}
.fl-content2 .shield .win-pic{position:relative;top:5px;left:-13px;}
.fl-content2 .anew{line-height:22px;font-size:14px;color:#333;margin-bottom:18px;overflow:hidden;}
.fl-content2 .anew .win-pic{position:relative;top:5px;left:-13px;}
/*---------------------嵌入式  related-1  -----------------------*/
.widget{width:675px;overflow:hidden;margin:0 0 30px 10px;}
#other-1{float:left;overflow:hidden;}
#other-1 .r1-top{height:32px;padding-top:20px;}
#other-1 .r1-top h3{float:left;height:32px;line-height:32px;font-size:14px;color:#444444;} 
#other-1 .r1-top .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;} 
#other-1 .r1-con{overflow:hidden;}
#other-1 .article{overflow:hidden;}
#other-1 .article li{float:left;width:100px;height:162px;margin:0 15px 15px 0;}
#other-1 .article li.mr0{margin-right:0;}
#other-1 .a-pic{float:left;width:100px;height:100px;margin-bottom:6px;}
#other-1 .a-link{float:left;width:100px;line-height:18px;font-size:12px;color:#444;overflow:hidden;}
#other-1 .a-link:hover{text-decoration:underline;}
#other-1 .msg{float:right;height:;font-size:12px;color:#999;}
/*---------------------嵌入式  related-2  -----------------------*/
#other-2{overflow:hidden;}
#other-2 .r2-top{height:32px;padding-top:20px;}
#other-2 .r2-top h3{float:left;height:32px;line-height:32px;font-size:14px;color:#444444;} 
#other-2 .r2-top .change{float:right;width:45px;height:22px;background:url(../images/h-h.png) 0 0 no-repeat;}
#other-2 .r2-con{overflow:hidden;}
#other-2 .article{float:left;width:278px;overflow:hidden;}
#other-2 .article li{float:left;width:268px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 11px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#other-2 .article li a{float:left;height:24px;font-size:12px;color:#444;}
#other-2 .article li a:hover{text-decoration:underline;}
#other-2 .article2{float:right;width:278px;overflow:hidden;}
#other-2 .article2 li{float:left;width:268px;height:24px;line-height:24px;padding-left:10px;background:url(../images/dian2.png) 0 11px no-repeat;*background:url(../images/dian2.png) 0 10px no-repeat;overflow:hidden;}
#other-2 .article2 li a{float:left;height:24px;font-size:12px;color:#444;}
#other-2 .article2 li a:hover{text-decoration:underline;}
#other-2 .msg{float:right;height:;font-size:12px;color:#999;}
/*---------------------写信 -----------------------*/
.float-area .w372{width:372px;}
.w372 .fl-title{width:352px;height:37px;background:#f4f4f4;border-bottom:1px #e1e1e1 solid;padding:0 10px 0 10px;overflow:hidden;}
.w372 .fl-title h4{float:left;height:37px;line-height:37px;font-size:12px;color:#333;}
.w372 .fl-title a{float:right;width:16px;height:37px;background:url(../images/x-bg3.png) 0 10px no-repeat;}
.w372 .fl-content3{width:322px;height:194px;text-align:center;padding:0 25px 0 25px;}
.fl-content3 .item{height:42px;line-height:42px;}
.fl-content3 .item label{float:left;width:40px;font-size:12px;color:#333;}
.fl-content3 .item .text{float:left;font-size:12px;color:#333;}
.fl-content3 .item2{height:94px;}
.fl-content3 .item2 label{float:left;line-height:24px;width:40px;font-size:12px;color:#333;}
.fl-content3 .item2 textarea{float:left;width:270px;height:83px;resize:none;}
.fl-content3 .fot{padding-left:40px;height:29px;margin-top:10px;}
.fl-content3 .fot .tex{float:left;line-height:29px;font-size:12px;color:#b8b7b7;}
.fl-content3 .fot .fr{float:right;line-height:29px;}
.fl-content3 .fot .fr em{float:left;font-size:12px;color:#333;cursor:pointer;}
.fl-content3 .fot .fr .blue-btn1{width:66px;margin-left:13px;}
.fl-content3 .fot .fr .blue-btn1 span{width:63px;}



