.r_tittle {
	height: 70px;
	background-color: #F0F5F9;
	background-image: url(../images/r_line.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-left: 10px;
	padding-right: 10px;
}
.r_tittle h1 {
	line-height: 42px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.r_tittle .menu {
	line-height: 27px;
	color: #999;
	clear: both;
	height: 27px;
}
.r_tittle .menu span {
	display: block;
	float: left;
}

.r_tittle .menu a {
	display: block;
	text-align: center;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.r_tittle .menu .now ,.data00 .top01 h1,.data00 .top02 h2{
	behavior:url(../images/PIE.htc);
}
.r_tittle .menu .now {
	position:relative;
	z-index:2;
	background-color: #FFF;
	border: 1px solid #C1CBD4;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	height: 27px;
	border-bottom-width: 0px;
	border-bottom-color: #fff;
}
.r_tittle .menu .bb_down {
	float: right;
	background-image: url(../images/but01.gif);
	height: 21px;
	width: 82px;
	line-height: normal;
	text-decoration: none;
	text-indent: 20px;
	padding-top: 4px;
	padding-right: 0px;
	padding-left: 0px;
}
.r_tittle h1 .txt {
	display: block;
	float: left;
}
.r_tittle h1 .day_select {
	cursor: pointer;
	float: right;
	font-size: 12px;
	font-family: Arial;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	color: #1A74B0;
}
.r_tittle h1 .day_select .left {
	float: left;
	width: 4px;
	background-color: #CDE2F3;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	border-right-width: 0px;
	border-right-style: none;
	height: 25px;
}
.r_tittle h1 .day_select {
	float: left;
	width: 4px;
	background-color: #CDE2F3;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	border-right-width: 0px;
	border-right-style: none;
	height: 25px;
}
.r_tittle h1 .day_select .daydata {
	float: left;
	height: 25px;
	background-color: #CDE2F3;
}
.r_tittle h1 .day_select .daydata a {
	text-decoration: none;
}
.r_tittle h1 .day_select .daydata .ico01 {
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 5px;
	background-image: url(../images/icon04.gif);
	background-repeat: no-repeat;
}

.r_tittle h1 .day_select .daydata .ico02 {
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 5px;
	background-image: url(../images/icon04.gif);
	background-repeat: no-repeat;
	background-position: -16px;
}
.r_tittle h1 .day_select .daydata .data {
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 6px;
	line-height: normal;
}
.r_tittle01 {
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
}
.r_tittle01 h1 {
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: normal;
	margin: 0px;
	height: 26px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.r_tittle01 h1 .txt {
	display: block;
	float: left;
}

.button {
	background-image: url(../images/but01.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	font-family: "宋体", Arial;
	height: 20px;
	width: 82px;
	text-indent: 20px;
	display: block;
	padding-top: 5px;
	line-height: normal;
	float: right;
}
.zs_ico {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background-image: url(../images/zhushi.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	background-position: center center;
}
.r_tittle01 h1 .zs_ico {
	margin-top: 4px;
}

.datacontent {
	padding: 10px 10px 15px 10px;
}
.datacontent .contrastpic {
	clear: both;
	padding-bottom: 10px;
	height: 12px;
}

.datacontent .contrastpic .tushi0 {
	float: left;
	padding-right: 10px;
}
.datacontent .contrastpic .tushi0 .tscolor01 {
	height: 12px;
	width: 12px;
	float: left;
	background-color: #5F9EC9;
	margin-top: 1px;
	font-size: 1px;
}
.datacontent .contrastpic .tushi0 .tscolor02 {
	height: 12px;
	width: 12px;
	float: left;
	background-color: #A6C71E;
	margin-top: 1px;
	font-size: 1px;
}
.datacontent .contrastpic .tushi0 span {
	color: #999;
	margin-left: 5px;
	line-height: 12px;
	display: block;
	float: left;
}

.datacontent .data01 {
	width: 100%;
	margin-bottom: 5px;
	clear: both;
}

.datacontent .data01 .l {
	background-image: url(../images/daydata_bg02.gif);
	width: 5px;
	height: 50px;
}
.datacontent .data01 .z {
	background-image: url(../images/daydata_bg03.gif);
	background-repeat: repeat-x;
	height: 50px;
}
.datacontent .data01 .r {
	background-image: url(../images/daydata_bg02.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 50px;
	width: 5px;
}
.datacontent .data01 .datagroup {
	/*width: 17%;*/
	height: 50px;
	float: left;
}
.datacontent .data01 .data {
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}


.datacontent .data01 .line {
	height: 50px;
	width: 1px;
	float: left;
	background-image: url(../images/daydata_line.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.datacontent .data01 .group {
	cursor: pointer;
	padding-left: 15px;
	height: 42px;
	padding-top: 8px;
}
.datacontent .data01 .groupnow {
	padding-left: 15px;
	background-color: #EFF5F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #609EC8;
	height: 40px;
	margin-top: 1px;
	padding-top: 8px;
}
.datacontent .data01 .groupnow-b {
	padding-left: 15px;
	background-color: #F2FFBD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6C71E;
	height: 40px;
	margin-top: 1px;
	padding-top: 8px;
}
.datacontent .data01 .tittle {
	padding-bottom: 5px;
	height: 16px;
}


.datacontent .data01 .tittle .txt {
	float: left;
	color: #999;
	font-family: "宋体";
	line-height: 16px;
}
.datacontent .data01 .tittle .ico {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background-image: url(../images/zhushi.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	background-position: center center;
}
.datacontent .data01 .value {
	clear: both;
	font-size: 14px;
}
.datacontent .data02 {
	padding-top: 10px;
}
.datacontent .data02 .top {
	height: 22px;
}
.datacontent .data02 .tubiao {
	clear: both;
	margin-top: 5px;
}

.datacontent .data02 .tushi {
	float: left;
	margin-top: 11px;
	width: 120px;
}
.datacontent .data02 .tushi .tscolor01 {
	height: 11px;
	width: 11px;
	float: left;
	background-color: #5F9EC9;
	font-size: 1px;
}
.datacontent .data02 .tushi .tscolor02 {
	height: 11px;
	width: 11px;
	float: left;
	background-color: #A6C71E;
	font-size: 1px;
}
.datacontent .data02 .tushi span {
	font-family: "微软雅黑";
	font-size: 11px;
	color: #999;
	margin-left: 5px;
	line-height: 12px;
}
.datacontent .data02 .data_select {
	float: right;
}
.datacontent .data02 .data_select select {
	border: 1px solid #DDDDDD;
	line-height: 21px;
	height: 21px;
}
.datacontent .data03 {
	margin-top: 15px;
}
.datacontent .data03 .top {
	height: 25px;
}
.datacontent .data03 .ud_select {
	background-color: #FEFFF1;
	border: 1px solid #F8F3CD;
	height: 73px;
	margin-top: 2px;
	padding: 10px;
	color: #999;
}
.datacontent .data03 .ud_select ul li {
	display: block;
	width: 115px;
	float: left;
	line-height: 11px;
	font-size: 11px;
	padding: 0px;
	margin-bottom: 12px;
}
.datacontent .data03 .ud_select ul li input {
	float: left;
}
.datacontent .data03 .ud_select ul li span {
	display: block;
	float: left;
	padding-top: 1px;
	font-family: "微软雅黑";
}

.datacontent .data03 .ud_select .select {
	clear: both;
	height: 25px;
	line-height: 25px;
	text-align: right;
}
.datacontent .data03 .ud_select .select a {
	padding-right: 5px;
	padding-left: 5px;
}
.datacontent .data03 .ud_select .select .now {
	font-weight: bold;
}
.datacontent .data03 .ud_select .select .txt {
	float: right;
}
.datacontent .data03 .ud_select .select .but {
	cursor: pointer;
	background-image: url(../images/but04.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 60px;
	float: right;
	text-align: center;
	color: #1A74B0;
	margin-left: 10px;
}








.datacontent .data03 .b_pic {
	float: right;
	background-image: url(../images/but02.gif);
	height: 21px;
	width: 97px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.datacontent .data03 .userdata {
	float: right;
	background-image: url(../images/but03.gif);
	height: 21px;
	width: 119px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.datacontent .data03 .data_bb {
	float: right;
	background-image: url(../images/but03.gif);
	height: 21px;
	width: 119px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.datacontent .data03 .datatable {
	clear: both;
	margin-top: 2px;
	text-align: right;
}
.datacontent .data03 .datatable td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	font-weight: normal;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 0px;
}
.datacontent .data03 .datatable th {
	background-color: #F0F5F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DFE9;
	font-weight: normal;
	color: #999;
	text-align: right;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
}
.datacontent .data03 .datatable th.coloradd01 {
	background-color: #ECF2F7;
}
.datacontent .data03 .datatable td.coloradd02 {
	background-color: #F9F9F9;
}

.datacontent .data04 {
	padding-top: 10px;
}
.datacontent .data04 .top {
	height: 22px;
}
.datacontent .data04 .tubiao {
	clear: both;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.datacontent .data04 .tushi {
	float: left;
	margin-top: 11px;
	width: 100%;
}
.datacontent .data04 .tushi .tscolor01 {
	height: 11px;
	width: 77px;
	float: left;
	background-image: url(../images/ts01.gif);
	margin-right: 5px;
}
.datacontent .data04 .tushi span {
	font-family: "微软雅黑";
	font-size: 11px;
	color: #999;
	line-height: 12px;
	display: block;
	float: left;
	margin-right: 5px;
}

.tb_content {
	height: 20px;
}

.tb_index .tb_content,  .tb_index{
	overflow: hidden;
	white-space: nowrap;
	width: 255px;
	text-align: left;
	padding-right: 5px;
}
.tb_bpic {
	width: 45%;
}
.btpic_content {
	margin-right: 10px;
	text-align: center;
}


.sortable .tb_content {
	cursor: pointer;
	display: inline;
	padding-right: 10px;
	text-align: right;
}
.tb_bpic .tb_content {
	text-align: center;
	margin-right: 10px;
}

.sortable.sort .tb_content {
	background-image: url(../images/icon02.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
}
.sortable.sort0 .tb_content {
	background-image: url(../images/icon02.gif);
	background-repeat: no-repeat;
	background-position: right -12px;
}
.number .tb_content {
	padding-right: 10px;
}
.no01 {
	width: 1em;
}
.no01 .tb_content {
	text-align: right;
	padding-right: 5px;
	padding-left: 0px;
}

.datacontent .data03 .pages {
	height: 30px;
	background-color: #F0F0F0;
	line-height: 30px;
	color: #999;
	padding-right: 10px;
}
.datacontent .data03 .pages .txt {
	float: right;
}
.datacontent .data03 .pages .ico01 {
	float: right;
	display: block;
	background-image: url(../images/pagesico.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 15px;
	margin: 7px;
}
.datacontent .data03 .pages .ico02 {
	float: right;
	display: block;
	background-image: url(../images/pagesico.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 15px;
	margin: 7px 0px 7px 0px;
	background-position: 0px -16px;
}
.feedback {
}
.feedback a {
	background-color: #FFF;
	background-image: url(images/icon06.gif);
	height: 30px;
	width: 5px;
	display: block;
	background-repeat: no-repeat;
}
.data00   {

}
.data00 .top01   {
	height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0CBD4;
}
.data00 .top02   {
	height: 23px;
	margin-top: 15px;
}
.data00 .top01 h1 {
	font-size: 12px;
	color: #FFF;
	font-weight: normal;
	background-color: #297FBC;
	height: 18px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	float: left;
	position:relative;
	z-index:2;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.data00 .top02 h2 {
	font-size: 12px;
	color: #FFF;
	font-weight: normal;
	background-color: #297FBC;
	height: 18px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	float: left;
	position:relative;
	z-index:2;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.data00 .data_select {
	float: right;
}
.data00 .data_select select {
	border: 1px solid #DDDDDD;
	line-height: 21px;
	height: 21px;
	margin: 0px;
}
.data00 .datatable   {
	clear: both;
	text-align: right;
}
.data00 .datatable td   {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	font-weight: normal;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 0px;
}
.data00 .datatable th   {
	background-color: #F0F5F9;
	font-weight: normal;
	color: #999;
	text-align: right;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
}
.data00 .tb_index .tb_content,.data00 .tb_index {
	width: 70px;
}
.data00 .sortable {
	width: 11%;
}
.data00 .number .tb_content em {
	font-size: 14px;
	color: #CC3300;
}
.data_lr {
	clear: both;
	padding-top: 15px;
}
.data_lr .con table {
	width: 100%;
	text-align: right;
}

.data_lr .con h1 {
	font-size: 12px;
	background-color: #EEEEEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0CBD4;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.data_lr .con h1 em {
	font-weight: normal;
}

.data_lr th {
	font-weight: normal;
	background-color: #EFF5F9;
	color: #999;
	line-height: 20px;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
}
.data_lr td {
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 20px;
}
.data_lr .con .colortr {
	background-color: #F6F6F6;
}

.data_lr .con .tb_index .tb_content {
	padding-left: 10px;
}


.data_lr .tb_index .tb_content ,.data_lr .tb_index{
	width: 130px;
}



.data_lr .l {
	float: left;
	width: 50%;
}
.data_lr .l .con {
	padding-right: 5px;
}


.data_lr .r {
	float: left;
	width: 50%;
}
.data_lr .r .con {
	padding-left: 5px;
}
.data_lr .more {
	background-color: #EEE;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
}
