@charset "utf-8";
.head {
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	background-color: #267BB6;
	background-image: url(../images/head_bg.gif);
	border-bottom: 1px solid #055999;
	min-height: 49px;
	position: relative;
	z-index: 4;
}
.logo {
	float: left;
	margin-left: 10px;
}

.logo a {
	background-image: url(../images/logo.gif);
	height: 49px;
	width: 141px;
	display: block;
}
.head .menu {
	float: right;
	line-height: 49px;
	color: #A7CCE9;
	margin-right: 10px;
}
.head .menu a {
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
}
.head .menu em {
	padding-right: 10px;
	padding-left: 10px;
}
.content {
	clear: both;
}

.left {
	width: 149px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C1CBD4;
}
.left .zdsettings {
	height: 50px;
	padding: 10px;
}
.left .zdsettings dl {
	padding-bottom: 10px;
	display: block;
	height: 15px;
	width: 130px;
}
.left .zdsettings dl dt {
	float: left;
}
.left .zdsettings dl dd {
	float: right;
}
.left .zdsettings dl dd a {
	background-image: url(../images/icon01.gif);
	background-repeat: no-repeat;
	display: block;
	width: 40px;
	background-position: left;
	text-indent: 15px;
}


.left .zdsettings .zdlist {
	cursor: pointer;
	background-image: url(../images/zds_bg.gif);
	height: 21px;
	width: 125px;
	line-height: 21px;
	color: #1A74B3;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #333;
	padding-left: 5px;
	background-repeat: no-repeat;
	clear: both;
}
.left .menulist {
	padding-right: 10px;
	font-family: "宋体";
}
.left .menulist h2 {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	padding-left: 10px;
	background-image: url(../images/menulist_ico.gif);
	background-repeat: no-repeat;
	text-indent: 30px;
	padding-top: 3px;
	margin-bottom: 9px;
	display: block;
	width: 129px;
}
.left .menulist .ml01 {
	background-position: 10px 1px;
}
.left .menulist .ml02 {
	background-position: 10px -20px;
}
.left .menulist .ml03 {
	background-position: 10px -42px;
}
.left .menulist .ml04 {
	background-position: 10px -61px;
}
.left .menulist .ml05 {
	background-position: 10px -82px;
}
.left .menulist .ml06 {
	background-position: 10px -104px;
}
.left .menulist ul {
	padding-left: 40px;
	margin:0px 0px 9px 0px;
}
.left .menulist ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.left .menulist a {
	display: block;
	margin: 0px;
}
.left .menulist a:hover {
	background-image: url(../images/icon03.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.left .menulist .now {
	background-image: url(../images/icon03.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.right {
}
.right .r_tittle {
	height: 70px;
	background-color: #F0F5F9;
	background-image: url(../images/r_line.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-left: 10px;
	padding-right: 10px;
}
.right .r_tittle h1 {
	line-height: 42px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.right .r_tittle .menu {
	line-height: 27px;
	color: #999;
	clear: both;
	height: 27px;
}
.right .r_tittle .menu span {
	display: block;
	float: left;
}

.right .r_tittle .menu a {
	display: block;
	text-align: center;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.right .r_tittle .menu .now ,.data00 .top01 h1,.data00 .top02 h2{
	behavior:url(../images/PIE.htc);
}
.right .r_tittle .menu .now {
	position:relative;
	z-index:2;
	background-color: #FFF;
	border: 1px solid #C1CBD4;
	-moz-border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
	height: 27px;
	border-bottom-width: 0px;
	border-bottom-color: #fff;
}
.right .r_tittle .menu .bb_down {
	float: right;
	background-image: url(../images/but01.gif);
	height: 21px;
	width: 82px;
	line-height: normal;
	text-decoration: none;
	text-indent: 20px;
	padding-top: 4px;
	padding-right: 0px;
	padding-left: 0px;
}
.right .r_tittle h1 .txt {
	display: block;
	float: left;
}
.right .r_tittle h1 .day_select {
	cursor: pointer;
	float: right;
	font-size: 12px;
	font-family: Arial;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
	color: #1A74B0;
}
.right .r_tittle h1 .day_select .left {
	float: left;
	width: 4px;
	background-color: #CDE2F3;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	border-right-width: 0px;
	border-right-style: none;
	height: 25px;
}
.right .r_tittle h1 .day_select .right {
	float: left;
	width: 4px;
	background-color: #CDE2F3;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	border-right-width: 0px;
	border-right-style: none;
	height: 25px;
}
.right .r_tittle h1 .day_select .daydata {
	float: left;
	height: 25px;
	background-color: #CDE2F3;
}
.right .r_tittle h1 .day_select .daydata a {
	text-decoration: none;
}
.right .r_tittle h1 .day_select .daydata .ico01 {
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 5px;
	background-image: url(../images/icon04.gif);
	background-repeat: no-repeat;
}

.right .r_tittle h1 .day_select .daydata .ico02 {
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 5px;
	background-image: url(../images/icon04.gif);
	background-repeat: no-repeat;
	background-position: -16px;
}
.right .r_tittle h1 .day_select .daydata .data {
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 6px;
	line-height: normal;
}
.right .r_tittle01 {
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
}
.right .r_tittle01 h1 {
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: normal;
	margin: 0px;
	height: 26px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right .r_tittle01 h1 .txt {
	display: block;
	float: left;
}

.button {
	background-image: url(../images/but01.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	font-family: "宋体", Arial;
	height: 20px;
	width: 82px;
	text-indent: 20px;
	display: block;
	padding-top: 5px;
	line-height: normal;
	float: right;
}
.zs_ico {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background-image: url(../images/zhushi.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	background-position: center center;
}
.right .r_tittle01 h1 .zs_ico {
	margin-top: 4px;
}

.right .datacontent {
	padding: 10px 10px 15px 10px;
}
.datacontent .contrastpic {
	clear: both;
	padding-bottom: 10px;
	height: 12px;
}

.datacontent .contrastpic .tushi0 {
	float: left;
	padding-right: 10px;
}
.datacontent .contrastpic .tushi0 .tscolor01 {
	height: 12px;
	width: 12px;
	float: left;
	background-color: #5F9EC9;
	margin-top: 1px;
	font-size: 1px;
}
.datacontent .contrastpic .tushi0 .tscolor02 {
	height: 12px;
	width: 12px;
	float: left;
	background-color: #A6C71E;
	margin-top: 1px;
	font-size: 1px;
}
.datacontent .contrastpic .tushi0 span {
	color: #999;
	margin-left: 5px;
	line-height: 12px;
	display: block;
	float: left;
}

.right .datacontent .data01 {
	width: 100%;
	margin-bottom: 5px;
	clear: both;
}

.right .datacontent .data01 .l {
	background-image: url(../images/daydata_bg02.gif);
	width: 5px;
	height: 50px;
}
.right .datacontent .data01 .z {
	background-image: url(../images/daydata_bg03.gif);
	background-repeat: repeat-x;
	height: 50px;
}
.right .datacontent .data01 .r {
	background-image: url(../images/daydata_bg02.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 50px;
	width: 5px;
}
.right .datacontent .data01 .datagroup {
	/*width: 17%;*/
	height: 50px;
	float: left;
}
.right .datacontent .data01 .data {
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}


.right .datacontent .data01 .line {
	height: 50px;
	width: 1px;
	float: left;
	background-image: url(../images/daydata_line.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.right .datacontent .data01 .group {
	cursor: pointer;
	padding-left: 15px;
	height: 42px;
	padding-top: 8px;
}
.right .datacontent .data01 .groupnow {
	padding-left: 15px;
	background-color: #EFF5F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #609EC8;
	height: 40px;
	margin-top: 1px;
	padding-top: 8px;
}
.right .datacontent .data01 .groupnow-b {
	padding-left: 15px;
	background-color: #F2FFBD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A6C71E;
	height: 40px;
	margin-top: 1px;
	padding-top: 8px;
}
.right .datacontent .data01 .tittle {
	padding-bottom: 5px;
	height: 16px;
}


.right .datacontent .data01 .tittle .txt {
	float: left;
	color: #999;
	font-family: "宋体";
	line-height: 16px;
}
.right .datacontent .data01 .tittle .ico {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background-image: url(../images/zhushi.png);
	background-repeat: no-repeat;
	margin-left: 5px;
	background-position: center center;
}
.right .datacontent .data01 .value {
	clear: both;
	font-size: 14px;
}
.right .datacontent .data02 {
	padding-top: 10px;
}
.right .datacontent .data02 .top {
	height: 22px;
}
.right .datacontent .data02 .tubiao {
	clear: both;
	margin-top: 5px;
}

.right .datacontent .data02 .tushi {
	float: left;
	margin-top: 11px;
	width: 120px;
}
.right .datacontent .data02 .tushi .tscolor01 {
	height: 11px;
	width: 11px;
	float: left;
	background-color: #5F9EC9;
	font-size: 1px;
}
.right .datacontent .data02 .tushi .tscolor02 {
	height: 11px;
	width: 11px;
	float: left;
	background-color: #A6C71E;
	font-size: 1px;
}
.right .datacontent .data02 .tushi span {
	font-family: "微软雅黑";
	font-size: 11px;
	color: #999;
	margin-left: 5px;
	line-height: 12px;
}
.right .datacontent .data02 .data_select {
	float: right;
}
.right .datacontent .data02 .data_select select {
	border: 1px solid #DDDDDD;
	line-height: 21px;
	height: 21px;
}
.right .datacontent .data03 {
	margin-top: 15px;
}
.right .datacontent .data03 .top {
	height: 25px;
}
.right .datacontent .data03 .top .tittle {
	display: block;
	float: left;
	line-height: 25px;
	font-family: "宋体";
}

.right .datacontent .data03 .ud_select {
	background-color: #FEFFF1;
	border: 1px solid #F8F3CD;
	height: 73px;
	margin-top: 2px;
	padding: 10px;
	color: #999;
}
.right .datacontent .data03 .ud_select ul li {
	display: block;
	width: 115px;
	float: left;
	line-height: 11px;
	font-size: 11px;
	padding: 0px;
	margin-bottom: 12px;
}
.right .datacontent .data03 .ud_select ul li input {
	float: left;
}
.right .datacontent .data03 .ud_select ul li span {
	display: block;
	float: left;
	padding-top: 1px;
	font-family: "微软雅黑";
}

.right .datacontent .data03 .ud_select .select {
	clear: both;
	height: 25px;
	line-height: 25px;
	text-align: right;
}
.right .datacontent .data03 .ud_select .select a {
	padding-right: 5px;
	padding-left: 5px;
}
.right .datacontent .data03 .ud_select .select .now {
	font-weight: bold;
}
.right .datacontent .data03 .ud_select .select .txt {
	float: right;
}
.right .datacontent .data03 .ud_select .select .but {
	cursor: pointer;
	background-image: url(../images/but04.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 60px;
	float: right;
	text-align: center;
	color: #1A74B0;
	margin-left: 10px;
}








.right .datacontent .data03 .b_pic {
	float: right;
	background-image: url(../images/but02.gif);
	height: 21px;
	width: 97px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.right .datacontent .data03 .userdata {
	float: right;
	background-image: url(../images/but03.gif);
	height: 21px;
	width: 119px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.right .datacontent .data03 .data_bb {
	float: right;
	background-image: url(../images/but03.gif);
	height: 21px;
	width: 119px;
	line-height: normal;
	text-decoration: none;
	text-indent: 30px;
	padding-top: 4px;
	margin-left: 5px;
}
.right .datacontent .data03 .datatable {
	clear: both;
	margin-top: 2px;
	text-align: right;
}
.right .datacontent .data03 .datatable td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	font-weight: normal;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 0px;
}
.right .datacontent .data03 .datatable th {
	background-color: #F0F5F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DFE9;
	font-weight: normal;
	color: #999;
	text-align: right;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
}
.right .datacontent .data03 .datatable th.coloradd01 {
	background-color: #ECF2F7;
}
.right .datacontent .data03 .datatable td.coloradd02 {
	background-color: #F9F9F9;
}

.right .datacontent .data04 {
	padding-top: 10px;
}
.right .datacontent .data04 .top {
	height: 22px;
}
.right .datacontent .data04 .tubiao {
	clear: both;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

.right .datacontent .data04 .tushi {
	float: left;
	margin-top: 11px;
	width: 100%;
}
.right .datacontent .data04 .tushi .tscolor01 {
	height: 11px;
	width: 77px;
	float: left;
	background-image: url(../images/ts01.gif);
	margin-right: 5px;
}
.right .datacontent .data04 .tushi span {
	font-family: "微软雅黑";
	font-size: 11px;
	color: #999;
	line-height: 12px;
	display: block;
	float: left;
	margin-right: 5px;
}

.tb_content {
	height: 20px;
}

.tb_index .tb_content,  .tb_index{
	overflow: hidden;
	white-space: nowrap;
	width: 255px;
	text-align: left;
	padding-right: 5px;
}
.tb_bpic {
	width: 45%;
}
.btpic_content {
	margin-right: 10px;
	text-align: center;
}


.sortable .tb_content {
	cursor: pointer;
	display: inline;
	padding-right: 10px;
	text-align: right;
}
.tb_bpic .tb_content {
	text-align: center;
	margin-right: 10px;
}

.sortable.sort .tb_content {
	background-image: url(../images/icon02.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
}
.sortable.sort0 .tb_content {
	background-image: url(../images/icon02.gif);
	background-repeat: no-repeat;
	background-position: right -12px;
}
.number .tb_content {
	padding-right: 10px;
}
.no01 {
	width: 1em;
}
.no01 .tb_content {
	text-align: right;
	padding-right: 5px;
	padding-left: 0px;
}

.right .datacontent .data03 .pages {
	height: 30px;
	background-color: #F0F0F0;
	line-height: 30px;
	color: #999;
	padding-right: 10px;
}
.right .datacontent .data03 .pages .txt {
	float: right;
}
.right .datacontent .data03 .pages .ico01 {
	float: right;
	display: block;
	background-image: url(../images/pagesico.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 15px;
	margin: 7px;
}
.right .datacontent .data03 .pages .ico02 {
	float: right;
	display: block;
	background-image: url(../images/pagesico.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 15px;
	margin: 7px 0px 7px 0px;
	background-position: 0px -16px;
}
.footer {
	background-image: url(../images/footer_bg.gif);
	background-repeat: repeat-x;
	height: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F0F0F0;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 50px;
	color: #999;
}
.footer .l {
	float: left;
}
.footer .l a {
	color: #999;
	padding-right: 15px;
}
.footer .r {
	float: right;
}

.weblist {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 638px;
}
.weblist h1 {
	font-size: 14px;
	padding-bottom: 15px;
	height: 25px;
}
.weblist #en {
	font-size: 9px;
	font-weight: normal;
	color: #999;
	padding-left: 5px;
}
.weblist .weblist_content {
	margin-right: 20px;
	margin-left: 20px;
}
.weblist .weblist_content h1 {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
}
.weblist .weblist_content .day {
	float: left;
	display: block;
}
.weblist .weblist_content .addweb {
	float: right;
	background-image: url(../images/but01.gif);
	height: 21px;
	width: 82px;
	line-height: normal;
	text-decoration: none;
	padding-top: 4px;
	background-repeat: no-repeat;
	text-align: center;
}



.weblist .weblist_tb {
	width: 100%;
	clear: both;
}
.weblist_tb th {
	background-color: #F0F5F9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DFE9;
	font-weight: normal;
	color: #999;
	text-align: right;
	line-height: 20px;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
}
.weblist_tb td {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	line-height: 20px;
}

.weblist_tb .tb_con {
	overflow: hidden;
	padding-right: 10px;
	text-align: left;
	white-space: nowrap;
	height: 20px;
	padding-left: 5px;
}
.weblist_tb .number .tb_con {
	text-align: right;
}
.weblist_tb .status .tb_con,.weblist_tb .operate .tb_con {
	text-align: center;
}
.weblist_tb .status .ico01 {
	background-image: url(../images/icon07.gif);
	height: 13px;
	width: 13px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}
.weblist_tb .status .ico02 {
	background-image: url(../images/icon08.gif);
	height: 13px;
	width: 13px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}
.weblist_tb .coloradd01 {
	background-color: #ECF2F7;
}
.weblist_tb .coloradd02 {
	background-color: #F9F9F9;
}
.weblist_tb .number .ico01 {
	padding-right: 20px;
	background-image: url(../images/icon09.gif);
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
}
.weblist_tb .number .ico02 {
	padding-right: 20px;
	background-image: url(../images/icon10.gif);
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
}
.weblist_tb .number .ico03 {
	padding-right: 20px;
	background-image: url(../images/icon11.gif);
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 10px;
}
